ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[CasoBase] [bit] NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Valor1] [decimal](12, 5) NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Valor2] [decimal](12, 3) NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Valor3] [decimal](12, 1) NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Valor4] [int] NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Comentario] [nvarchar](4000) NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[HoraInicial] [datetime] NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[HoraFinal] [datetime] NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[DataInicial] [date] NULL;
ALTER TABLE [FormularioTesteAba2] ALTER COLUMN 	[Datafinal] [date] NULL;